$sm-breakpoint: 640px;
$md-breakpoint: 768px;
$lg-breakpoint: 1024px;
$xl-breakpoint: 1280px;
$xxl-breakpoint: 1536px;

@mixin respond-to($breakpoint) {
  @if $breakpoint == sm {
    @media screen and (min-width: $sm-breakpoint) {
      @content;
    }
  }

  @if $breakpoint == md {
    @media screen and (min-width: $md-breakpoint) {
      @content;
    }
  }

  @if $breakpoint == lg {
    @media screen and (min-width: $lg-breakpoint) {
      @content;
    }
  }

  @if $breakpoint == xl {
    @media screen and (min-width: $xl-breakpoint) {
      @content;
    }
  }

  @if $breakpoint == xxl {
    @media screen and (min-width: $xxl-breakpoint) {
      @content;
    }
  }
}
